*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x:hidden;
    font-family: 'Noto Sans', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:wght@300&family=Noto+Sans:wght@100&family=Open+Sans&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');


.container1{
    background-color: #CBE0FB;
    height:40px;
    display: flex;
    align-items: center;
    padding-left: 190px;
    line-height:20px;
    font-weight: 400;
    font-size: 14px;
}

.container1 a{
    padding: 2px;
    text-underline-offset: 3px;
    color: #11629e;
}

.container2 {
    background-color:#F8F8FB;
    height:40px;
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: end;
    padding-right:190px;
    font-size: 14px;
    line-height: 20px;
    
}

.container2 a{
    color: black;
    text-underline-offset: 3px;
    font-weight: 400;
}

.list{
    display: flex;
    justify-content: space-between;
    width: 83.5%;
    
}

.list ul{
    display: flex;
    gap: 25px;
    align-items: center;
    line-height: 27px;

}

.list li button{
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border: none;
}

.list li{
    border-bottom:solid 4px transparent ;
    padding: 5px;
}

.list li:hover{
    border-bottom:solid 4px #11629e;
    padding: 5px; 
}

.container3>img{
    width: 72px;
    height: 48px;
}

.signin{
    display: flex;
    gap: 10px;
}

.signin a{
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    color: #11629e;
}

.signin>img{
    border-radius: 50px;
    border: solid 1px #11629e;
}

.container3{
    height: 77.8px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    width: 100%;
    gap: 30px;
    padding: 0 141px 4px 139px;
    border-bottom: 1px solid#D6D6D6;
}


.containera{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.webwork{
    width: 619.38px;
    display: flex;
    flex-direction: column;
}

.webwork h1{
    font-size: 42px;
    margin-bottom:16px;
    line-height:58.8px;
    font-weight: 600;
}

.webwork>p{
    width: 504px;
    font-size: 23px;
    margin-bottom: 32px;
    line-height: 32.2px;
}

.webwork>a{
    font-size: 14px;
    font-weight: 600;
    border: 1.6px solid #11629e;
    border-radius: 50px;
    padding:10px 23px;
    text-decoration: none;
    width: 205.45px;
    height: 46.2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webwork a{
    color: #11629e;
}

.containerb{
    background-color:#F8F8FB;
    padding: 40px 0px 40px 0px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

h2{
    font-size: 34px;
    line-height: 43px;
    font-weight: 600;
}

.containerb p:first-of-type{
    font-size:16px;
    margin-top:16px ;
    width:620px;
    line-height: 24px;
    font-weight: 400;
}

.containerb p:last-of-type{
    font-size:16px;
    margin-top:16px ;
    width:620px;
    line-height: 24px;
    font-weight: 400;
}

.containerbtxt{
    width: 1120px;
}

.containerbtxt a{
    color: #11629e;
    text-underline-offset: 3px;
}

.containerc>a{
    font-size: 14px;
    font-weight: 600;
    color: #11629e;
    margin-top:14px;
    padding:10px 23px;
    border: 1.6px solid #11629e;
    border-radius: 50px;
    width: 386px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.containerc{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.sponsors{
    display: grid;
    grid-template-columns:repeat(6, 170px);
    grid-template-rows: 177.2px;
    gap:20px;
    margin-top: 21px;
}

.sponsors figure{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerc{
    height:279px;   
}


.containerd{
    min-height:408px;
    margin-top: 100px;
    display: flex;
    justify-content:center;
    gap: 100px;
}

.TPAC{
    width: 504px;
    height: 401px;
    display: flex;
    flex-direction: column;
}

.TPAC p{
    font-size: 16px;
    margin-top: 30px;
    line-height: 24px;
}

.TPAC p:nth-child(3){
    width: 450px;
}

.TPAC a{
    text-underline-offset: 3px;
    color: #11629e;
}

.visit{
    border: #11629e 1.6px solid;
    padding:10px 23px;
    border-radius: 50px;
    width: 239.05px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #11629e;
}

abbr{
    text-decoration:underline dotted rgb(17, 17, 17);
    text-underline-offset: 4px;
}

.containere{
    height:346px;
    display: flex;
    justify-content:center;
    gap: 100px;
    margin-top: 100px;
}

.webstandard{
    display: flex;
    flex-direction: column;
    width: 504px;
    height: 300px;
}

.learnmore {
    border: #11629e 1.9px solid;
    border-radius: 50px;
    padding:10px 23px;
    width: 269px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    font-size: 14px;
}

.webstandard p{
    margin-top:30px;
    font-size: 16px;
    line-height: 24px;
} 

.containerf{
    height:341px;
    margin-top: 97px;
    display: flex;
    justify-content:center;
    gap: 100px;
}

.getinvolved{
    width:504px;
    height: 276px;
    display: flex;
    flex-direction: column;
}

.getinvolved p{
    margin-top:30px;
    font-size: 16px;
    line-height: 24px;
}

.waystoget{
    border: #11629e 2px solid;
    border-radius: 50px;
    padding:10px 23px;
    height: 46px;
    width: 187px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    font-size: 14px;
}

.containerg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
    width: 1100px;
}

.latest{
    font-size: 24px;
    line-height:33.6px;
}

.containerg p{
    font-size: 16px;
    margin-top: 16px;
}

.containerg a{
    color: white;
    text-underline-offset: 3px;
}

.containerh{
    display: flex;
    gap: 30px;
}

.containerh div{
    width: 253px;
    height:493px;
    background-color: white;
    border-radius: 4px;
    color: black;
    padding: 17px;
   
}

.block1{
    display: flex;
    flex-direction: column;
}

.block1 p:first-of-type{
    margin-top: 16px;
    height: 300px;
    font-size: 16px;
}
.block1 p:last-of-type{
    height: 100px;
    display: flex;
    align-items: last baseline;
    font-size: 16px;
}

.containerh a{
    color: black;
    text-decoration: none;
}

.containerhg{
    background-color: #11629e;
    margin-top: 98px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block2{
    display: flex;
    flex-direction: column;

}

.block2 h3{
    height: 100px;
}

.block2 p:first-of-type{
    margin-top: 16px;
    height: 200px;
    font-size: 16px;
}

.block2 p:last-of-type{
    height: 200px;
    display: flex;
    align-items: last baseline;
    font-size: 16px;
}

.block3{
    display: flex;
    flex-direction: column;

}

.block3 h3{
    height: 200px;
}

.block3 p:first-of-type{
    margin-top: 16px;
    height: 200px;
    font-size: 16px;
}

.block3 p:last-of-type{
    height: 200px;
    display: flex;
    align-items: last baseline;
    font-size: 16px;
}

.block4{
    display: flex;
    flex-direction: column;

}

.block4 h3{
    height: 150px;
}

.block4 p:first-of-type{
    margin-top: 16px;
    height: 100px;
    font-size: 16px;
}

.block4 p:last-of-type{
    height: 200px;
    display: flex;
    align-items: last baseline;
    font-size: 16px;
}

.containerj{
    height:71px;
    width: 1106px;
}



.containeri{
    height:71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1106px;
}

.left ul{
    display: flex;
    gap: 30px;
}

.right ul{
    display: flex;
    gap: 30px;
}

.left ul a{
    color:black;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}