*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x:hidden;
}

.container1{
    background-color: #CBE0FB;
    height:40px;
    display: flex;
    align-items: center;
    padding-left: 141px;
}

.container2 {
    background-color:#F8F8FB;
    height:40px;
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: end;
    padding-right: 141px;
}

.list{
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}

.list ul{
    display: flex;
    gap: 25px;
    align-items: center;

}

.list li{
    font-size: 16px;
}

.container3>img{
    width: 72px;
    height: 48px;
}

.signin{
    display: flex;
    gap: 10px;
}

.signin a{
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
}

.signin>img{
    border-radius: 50px;
    border: solid 1px blue;
}

.container3{
    height: 77.8px;
    display: flex;
    align-items: last baseline;
    width: 100%;
    gap: 30px;
    padding: 0 141px 4px 139px;
    border-bottom: 1px solid#D6D6D6;
}


.containera{
    height:390px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.webwork{
    width: 619.38px;
    display: flex;
    flex-direction: column;
}

.webwork h1{
    font-size: 42px;
    margin-bottom:16px;
}

.webwork>p{
    width: 504px;
    font-size: 23px;
    margin-bottom: 32px;
    line-height: 32.2px;
}

.webwork>a{
    font-size: 14px;
    border: 1.6px solid #11629e;
    border-radius: 50px;
    padding:10px 23px;
    text-decoration: none;
    width: 205.45px;
    height: 46.2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerb{
    max-height:600px;
    background-color:#F8F8FB;
    padding: 40px 139px 40px 80px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 34px;
}

.containerb p:first-of-type{
    font-size:16px;
    margin-top:16px ;
    width:660px;
    line-height: 21px;

}

.containerb p:last-of-type{
    font-size:16px;
    margin-top:16px ;
    width:660px;
    line-height: 21px;
}

.containerc>a{
    font-size: 16px;
    margin-top:14px;
    padding:10px 23px;
    border: 1.6px solid #11629e;
    border-radius: 50px;
    width: 386.05px;
    height: 46px;
    text-align: center;
    text-decoration: none;
}

.containerc{
    display: flex;
    flex-direction: column;
}
.sponsors{
    display: grid;
    grid-template-columns:repeat(6, 170px);
    grid-template-rows: 177.2px;
    gap:20px;
    margin-top: 21px;
}

.sponsors figure{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerc{
    height:279px;
    
}

.containerd{
    min-height:408px;
    margin-top: 100px;
    display: flex;
    justify-content:space-around;
}

.TPAC{
    width: 504px;
    height: 401px;
    display: flex;
    flex-direction: column;
}

.TPAC p{
    font-size: 16px;
    margin-top: 30px;
    line-height: 24px;
}

.visit{
    border: #11629e 1.6px solid;
    padding:10px 23px;
    border-radius: 50px;
    width: 239.05px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    font-size: 14px;
}

abbr{
    text-decoration:underline dotted rgb(17, 17, 17);
    text-underline-offset: 4px;
}

.containere{
    height:346px;
    display: flex;
    justify-content: space-around;
}

.webstandard{
    display: flex;
    flex-direction: column;
    width: 504px;
    height: 300px;
}

.learnmore {
    border: #11629e 1.9px solid;
    border-radius: 50px;
    padding:10px 23px;
    width: 269px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    font-size: 14px;
}

.webstandard p{
    margin-top:30px;
    font-size: 16px;
    line-height: 24px;
} 

.containerf{
    height:341px;
    margin-top: 97px;
    display: flex;
    justify-content: space-around;
}

.getinvolved{
    width:504px;
    height: 276px;
    display: flex;
    flex-direction: column;
}

.getinvolved p{
    margin-top:30px;
    font-size: 16px;
    line-height: 24px;
}

.waystoget{
    border: #11629e 2px solid;
    border-radius: 50px;
    padding:10px 23px;
    height: 46px;
    width: 187px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    font-size: 14px;
}

.containerg{
    background-color:cornflowerblue ;
    height:147px;
    margin-top: 98px;
}
.containerh{
    background-color:forestgreen ;
    height:393px;
}
.containerj{
    background-color: hotpink;
    height:71px;
}

.containeri{
    background-color:lightcoral ;
    height:71px;
}
